{% extends "admin/base.html.twig" %}

{% block tilte %}modification de commentaire num {{comment.id}}{% endblock %}

{% block body %}
<div class="container">
<h1 class="my-5">modifiction de commentaire num {{comment.id}}</h1>

<div class="alert alert-info">

<strong> Annonce liée</strong> {{comment.ad.title}}<br>
<strong>Auteur </strong> {{comment.author.fullName}}<br>
<strong> Date de création :</strong> {{comment.createdAt| date('d/m/Y')}} <br>
<strong>Note :</strong> {{comment.rating}}
</div>

{{form_start(form)}}
{{form_widget(form)}}
<button type="submit" class="btn btn-primary">
<i class="fas fa-check"></i>
Enregistrer
</button>
{{form_end(form)}}

</div>

{% endblock %}